<div class="row">
    <div class="col-3"></div>
    <div class="col-5">
        <input type="file" (change)="onFileSelected($event)" #fileInput class="form-control">

        <div *ngIf="uploadProgress > 0" class="progress">
            Progress: {{uploadProgress}}%
        </div>
        <div *ngIf="uploadMessage" class="message">
            {{uploadMessage}}
        </div>
    </div>
    <div class="col-1">
        <button (click)="onUpload()" [disabled]="!selectedFile" class="btn btn-primary">Upload</button>
    </div>
    <div class="col-3">
    </div>
</div>